.body{background-image:url("../pic/b.jpg");}
.h1{color:maroon;height:30%;width:60%;}
.table{background-color:lightgreen;border-color:white;height:30%;}
.a{color:black;font-size:30;}
.b,.c{font-size:20;}
.d{font-size:20;color:purple;}
.address{color:white;background-color:black}
